<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
    
    <div class="col-8 offset-2">

  

     <h3>Edit Your Listing</h3>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea name="listing[description]" class="form-control"><%=listing.description%> required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>


     <div class="mb-3">
    Original listing image
    <img 
        src="<%=originalImageUrl%>" 
        style="width: 250px; display: block; margin-top: 10px; border-radius: 4px;" 
        alt="listing image"
    >
</div>

        <div class="mb-3">
            <label class="form-label" for="image">Upload New Image </label>
            <input type="file" name="listing[image]" class="form-control">
        </div>

        <div class="row">

        <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Price</label>
            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
            <label class="form-label" for="country">Country</label>
            <input  type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid country name</div>
        </div>

        </div>


        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
            <div class="invalid-feedback">Location should be a valid</div>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Add</button>
        <br><br><br><br>
    </form>
      </div>
</div>

<!-- <script src="/js/script.js"></script> -->
